@import url("base.css");
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: url('../img/bg.jpg') no-repeat center/cover;
}
.fenshu,.sm{
	width: 200px;
	height: 70px;
	background: red;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
}
.fenshu{
	background: url('../img/pic1.png') 210px 0;
	background-size: 633px;
}
.sm{
	background: url('../img/pic1.png') 207px -63px;
	background-size: 633px;
}
.fenshu span,.sm span{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 70px;
	text-align: center;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding-left: 20px;
}
.jindu{
	width: 500px;
	height: 50px;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    background: url('../img/pic1.png') 0px -210px;
    background-size: 556px;
}
/* .begin{
	width: 300px;
	height: 300px;
	position: fixed;
} */
.menu{
	width: 50px;
	position: fixed;
	right: 2%;
	top:50%;
	transform: translateY(-50%);
}
.menu li{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}
.menu li:first-child{
	background: url('../img/pic1.png') -4px 250px;
	background-size: 450px;
}
.menu li:nth-child(2){
	background: url('../img/pic1.png') -64px 250px;
	background-size: 450px;
}
.menu li:nth-child(3){
	background: url('../img/pic1.png') -124px 250px;
	background-size: 450px;
}
.menu li:nth-child(4){
	background: url('../img/pic1.png') -184px 250px;
	background-size: 450px;
}
.menu li:nth-child(5){
	background: url('../img/pic1.png') -304px 250px;
	background-size: 450px;
}
.menu li:nth-child(6){
	background: url('../img/pic1.png') -179px 190px;
	background-size: 450px;
}
.menu li:nth-child(7){
	background: url('../img/pic1.png') -183px 62px;
	background-size: 450px;
}
.menu li:nth-child(8){
	background: url('../img/pic1.png') -4px 190px;
	background-size: 450px;
}
.menu li:nth-child(9){
	background: url('../img/pic1.png') -64px 190px;
	background-size: 450px;
}